<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/browse/WebAutomation/FreeCRM/src/test/java/com/crm/qa/tests/TestContactsPage.java"><classes><class name="com.crm.qa.tests.TestContactsPage"><methods><include name="navToNewContactsPage"/><include name="verifyNewlyAddedContact"/><include name="verifyContactInOtherPages"/><include name="verifyContactsAddedFromExcel"/><include name="verifyFilterStatusNew"/><include name="verifyFilterStatusActive"/><include name="verifyFilterStatusInactive"/></methods></class></classes></test></suite>